.top_bar_container {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  z-index: 5;

  @media (max-width: $small-phone) {
    padding: 0.8rem 1.8rem;
  }

  .app_title {
    font-size: 3rem;
    font-weight: 600;

    @media (max-width: $large-phone) {
      font-size: 2rem;
    }
  }

  .powered_by_container {
    text-align: center;
    span {
      display: block;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    .tmdb_logo {
      height: auto;
      max-width: 5.5rem;

      @media (max-width: $large-phone) {
        max-width: 4rem;
      }

      @media (max-width: $small-phone) {
        max-width: 3.5rem;
      }
    }
  }
}

// home page
.inner_page_container {
  width: 80%;
  margin: 10rem auto 0;

  @media (max-width: $large-tablet) {
    width: 97%;
  }
}

// component container
.component_container {
  @include container-base;
}

// search bar
.search_bar_container {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  position: relative;
  transition: width 500ms ease-in-out;

  @media (max-width: $large-screen) {
    display: block;
  }

  .search_bar {
    max-width: 50rem;
    min-width: 40rem;
    width: 100%;
    margin-right: 5rem;

    @media (max-width: $large-screen) {
      max-width: 100rem;
    }

    @media (max-width: $large-phone) {
      max-width: 100%;
      min-width: 20rem;
    }
  }
}

.search_icon {
  position: absolute;
  top: 0.7rem;
  left: 1.7rem;
  font-size: 4rem;
  color: $white;
  cursor: pointer;

  @media (max-width: $tablet) {
    font-size: 3rem;
    top: 0.8rem;
    left: 1.5rem;
  }

  @media (max-width: $small-phone) {
    top: 1rem;
    left: 1.3rem;
  }
}

.search_bar_input {
  max-width: 100%;
  width: 100%;
  padding: 1.3rem 1.3rem 1.3rem 6rem;
  font-size: 2.2rem;
  color: $white;
  background-color: $dark-blue;
  border-radius: $border-radius;
  border: none;
  outline: none;
  transition: width 500ms ease-in-out;

  @media (max-width: $tablet) {
    padding: 1rem 1rem 1rem 5rem;
  }
}

.search_movies_title {
  @include container-title;
}

.filter_container {
  // border: 4px solid black;
  display: flex;

  @media (max-width: $large-screen) {
    justify-content: center;
  }

  @media (max-width: $tablet) {
    justify-content: center;
  }

  @media (max-width: $extra-small-phone) {
    display: block;
  }
}

.filter_option_container {
  &:not(:last-child) {
    margin-right: 2rem;

    @media (max-width: $extra-small-phone) {
      margin-right: 0;
    }
  }

  @media (max-width: $large-screen) {
    margin-top: 3rem;
    text-align: right;
  }

  @media (max-width: $extra-small-phone) {
    margin-right: 0;
    text-align: left;
  }
}

.filter_option {
  font-size: 1.6rem;
  color: $white;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;

  @media (max-width: $tablet) {
    font-size: 1.5rem;
  }
}
.active {
  transition: background 300ms ease-in-out;
  background-color: $dark-blue;
  border-radius: $border-radius;
}

// popular movie styles
.display_movies_container {
  .movie_card_container {
    max-width: 100%;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;

    @media (max-width: $large-screen) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: $large-tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $large-phone) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .movie_card_poster {
    animation: fadeIn 800ms ease-in;
    max-height: 40rem;
    height: auto;
    width: 100%;
    border-radius: $border-radius;
    box-shadow: 1px 2px 15px 3px rgba(0, 0, 0, 0.4);
  }
}

.display_movies_title {
  @include container-title;

  @media (max-width: $tablet) {
    @include container-title-tablet;
  }
}

// movie details

.movie_details {
  &_container {
    padding-top: 7rem;
    background-size: cover;
    background-position: 50%;
    min-height: 100vh;
    overflow: hidden;
  }
  &_content_box {
    animation: fadeIn 800ms ease-in;
    animation-delay: 300ms;
    animation-fill-mode: backwards;
    background-color: rgba(0, 0, 0, 0.58);
    border: 3px solid $dark-blue;
    width: 70%;
    margin: 3rem auto;
    padding: 3rem 4rem;
    min-height: 60rem;
    border-radius: 4px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.4);

    @media (max-width: $large-screen) {
      width: 95%;
      text-align: center;
    }
  }

  &_flex_content_container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    // border: 1px solid red;
    justify-content: space-between;

    @media (max-width: $large-phone) {
      flex-direction: column;
      // text-align: center;
    }
  }

  &_flex_content_left {
    // border: 1px solid orange;
    max-width: 58%;
    min-width: 55%;

    @media (max-width: $large-phone) {
      max-width: 95%;
      margin: 0 auto;
      order: 2;
    }
  }

  &_flex_content_right {
    // border: 1px solid orange;
    max-width: 35%;
    text-align: right;

    @media (max-width: $large-phone) {
      order: 1;
      max-width: 100%;
    }
  }

  &_title {
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;

    @media (max-width: $small-phone) {
      font-size: 3rem;
    }
  }

  &_year {
    font-size: 2.7rem;
  }

  &_tagline {
    margin-top: 2rem;
    font-size: 2rem;

    @media (max-width: $small-phone) {
      font-size: 1.6rem;
    }
  }

  &_badge {
    background-color: $dark-blue;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    padding: 0.8rem 1.3rem;
    border-radius: $border-radius;
    letter-spacing: 2px;
    margin: 2rem auto;
  }

  &_text {
    padding: 0 0.3rem;
  }

  &_poster {
    max-width: 100%;
    width: 100%;
    height: aut0;

    @media (max-width: $large-screen) {
      margin-top: 2rem;
    }
  }

  &_grid_container {
    margin-top: 3rem;
    display: grid;
    column-gap: 4rem;
    row-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $large-tablet) {
      column-gap: 0;
      row-gap: 1.2rem;
      grid-template-columns: 1fr;
    }
  }

  &_title_tagline_container {
    margin-bottom: 5rem;
  }
}

// loading spinner

.loading_spinner_container {
  width: 100%;
  margin: 2rem;
  text-align: center;
}

// buttons
.load_more_movies {
  &_container {
    display: block;
    width: 80%;
    margin: 5rem auto 3rem;
    text-align: center;
  }
  &_btn {
    background-color: transparent;
    border: 2px solid $dark-blue;
    padding: 2rem;
    border-radius: $border-radius;
    color: $white;
    min-width: 20rem;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background-color 200ms ease-in-out;
    font-family: $font-face;

    @media (max-width: $extra-small-phone) {
      font-size: 1.3rem;
    }

    &:hover {
      background-color: $dark-blue;
      cursor: pointer;
    }
  }
}

.footer_container {
  max-width: 100%;
  // margin-top: 2rem;
  padding: 1.5rem 3rem;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid $light-blue;

  @media (max-width: $small-phone) {
    font-size: 1.3rem;
  }

  .social_container {
    display: flex;
    align-items: center;
    margin-left: 2rem;

    .social_icon {
      font-size: 2.4rem;
      padding: 0;
      margin-left: 1rem;
      vertical-align: top;
    }
  }
}

::placeholder {
  color: rgb(171, 171, 171);

  @media (max-width: $tablet) {
    font-size: 1.8rem;
  }
}

em {
  font-style: italic;
}
