// home page
.inner_page_container {
  width: 80%;
  margin: 0 auto;
}

// search bar
.search_bar_container {
  @include container_base;
  max-width: 100%;
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  transition: width 500ms ease-in-out;
}

.search_icon {
  position: absolute;
  top: 2.7rem;
  left: 3.5rem;
  font-size: 4rem;
  color: $white;
  cursor: pointer;
}

.search_bar_input {
  max-width: 100%;
  width: 100%;
  padding: 1.3rem 1.3rem 1.3rem 6rem;
  font-size: 2.2rem;
  color: $white;
  background-color: $dark-blue;
  border-radius: $border-radius;
  border: none;
  outline: none;
  transition: width 500ms ease-in-out;
}

.search_movies_title {
  @include container-title;
}

// popular movie styles
.popular_movies_container {
  @include container_base;

  .movie_card_container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 4rem;
  }

  .movie_card_poster {
    max-width: 100%;
    height: auto;
    border-radius: $border-radius;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 800ms ease-in;
  }

  &_title {
    font-size: 2.3rem;
  }

  &_rating {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.7rem;
    width: 3.7rem;
    position: absolute;
    top: -1.3rem;
    right: -1.3rem;
    background-color: $white;
    color: $light-blue;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  }
}

.popular_movies_title {
  @include container-title;
}
