// colors
$white: #fff;
$dark-blue: rgb(38, 55, 75);
$light-blue: rgb(63, 90, 123);

// borders
$border-radius: 4px;

// containers
$container-padding: 2rem;

// breakpoints
$large-screen: 1220px;
$large-tablet: 900px;
$tablet: 768px;
$large-phone: 600px;
$small-phone: 450px;
